USE [master]
GO
/****** Object:  Database [Bingo]    Script Date: 23/01/2023 10:09:36 ******/
CREATE DATABASE [Bingo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bingo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bingo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bingo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bingo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bingo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bingo]
GO
/****** Object:  Table [dbo].[HistorialBolillero]    Script Date: 23/01/2023 10:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialBolillero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NULL,
	[numero] [int] NULL,
 CONSTRAINT [PK_HistorialBolillero] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCartones]    Script Date: 23/01/2023 10:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCartones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NULL,
	[carton1] [int] NULL,
	[carton2] [int] NULL,
	[carton3] [int] NULL,
	[carton4] [int] NULL,
 CONSTRAINT [PK_HistorialCartones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
