@{
    ViewData["Title"] = "TP Final Bingo";
}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <table class="table table-bordered border-dark">
                <caption class="caption-top fw-bold">Cartón 1</caption>
                <tbody>
                    <tr>
                        <td>03</td>
                        <td class="bg-info"></td>
                        <td>22</td>
                        <td class="bg-info"></td>
                        <td>41</td>
                        <td>52</td>
                        <td class="bg-info"></td>
                        <td class="bg-info"></td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>12</td>
                        <td class="bg-info"></td>
                        <td>38</td>
                        <td class="bg-info"></td>
                        <td>57</td>
                        <td class="bg-info"></td>
                        <td>73</td>
                        <td class="bg-info"></td>
                    </tr>
                    <tr>
                        <td class="bg-info"></td>
                        <td>18</td>
                        <td>25</td>
                        <td class="bg-info"></td>
                        <td>44</td>
                        <td class="bg-info"></td>
                        <td>64</td>
                        <td>76</td>
                        <td class="bg-info"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered border-dark">
                <caption class="caption-top fw-bold">Cartón 2</caption>
                <tbody>
                    <tr>
                        <td>03</td>
                        <td class="bg-success"></td>
                        <td>22</td>
                        <td class="bg-success"></td>
                        <td>41</td>
                        <td>52</td>
                        <td class="bg-success"></td>
                        <td class="bg-success"></td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>12</td>
                        <td class="bg-success"></td>
                        <td>38</td>
                        <td class="bg-success"></td>
                        <td>57</td>
                        <td class="bg-success"></td>
                        <td>73</td>
                        <td class="bg-success"></td>
                    </tr>
                    <tr>
                        <td class="bg-success"></td>
                        <td>18</td>
                        <td>25</td>
                        <td class="bg-success"></td>
                        <td>44</td>
                        <td class="bg-success"></td>
                        <td>64</td>
                        <td>76</td>
                        <td class="bg-success"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered border-dark">
                <caption class="caption-top fw-bold">Cartón 3</caption>
                <tbody>
                    <tr>
                        <td>03</td>
                        <td class="bg-danger"></td>
                        <td>22</td>
                        <td class="bg-danger"></td>
                        <td>41</td>
                        <td>52</td>
                        <td class="bg-danger"></td>
                        <td class="bg-danger"></td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>12</td>
                        <td class="bg-danger"></td>
                        <td>38</td>
                        <td class="bg-danger"></td>
                        <td>57</td>
                        <td class="bg-danger"></td>
                        <td>73</td>
                        <td class="bg-danger"></td>
                    </tr>
                    <tr>
                        <td class="bg-danger"></td>
                        <td>18</td>
                        <td>25</td>
                        <td class="bg-danger"></td>
                        <td>44</td>
                        <td class="bg-danger"></td>
                        <td>64</td>
                        <td>76</td>
                        <td class="bg-danger"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-bordered border-dark">
                <caption class="caption-top fw-bold">Cartón 4</caption>
                <tbody>
                    <tr>
                        <td>03</td>
                        <td class="bg-warning"></td>
                        <td>22</td>
                        <td class="bg-warning"></td>
                        <td>41</td>
                        <td>52</td>
                        <td class="bg-warning"></td>
                        <td class="bg-warning"></td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>12</td>
                        <td class="bg-warning"></td>
                        <td>38</td>
                        <td class="bg-warning"></td>
                        <td>57</td>
                        <td class="bg-warning"></td>
                        <td>73</td>
                        <td class="bg-warning"></td>
                    </tr>
                    <tr>
                        <td class="bg-warning"></td>
                        <td>18</td>
                        <td>25</td>
                        <td class="bg-warning"></td>
                        <td>44</td>
                        <td class="bg-warning"></td>
                        <td>64</td>
                        <td>76</td>
                        <td class="bg-warning"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary mt-2 mb-2 fs-4">Lanzar Bolilla</button>
    <div class="row">
        <div class="col-md mt-2">
            <p class="fs-5 fw-bold">Bolilla: <span class="fw-normal">(Número del 1 al 90)</span></p>
        </div>
        <div class="col-md mt-2">
            <p class="fs-5 fw-bold">Cartón Ganador: <span class="fw-normal">(Número del 1 a 4)</span></p>
        </div>
    </div>
</div>